<pre><%= @movie.to_yaml %></pre>

<div class="page-header">
  <h2>Cast</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Actor 1</li>
      <li>Actor 2</li>
      <li>Actor 3</li>
    </ul>
  </div>
</div>
