<pre><%= @director.to_yaml %></pre>

<div class="page-header">
  <h2>Filmography</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Movie 1</li>
      <li>Movie 2</li>
      <li>Movie 3</li>
    </ul>
  </div>
</div>


