<div class="page-header">
  <h1>Director Details</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>
        <img src="<%= @director.image_url %>" width="100">
      </dt>
      <dd>
        <p class="lead"><%= @director.name %></p>
      </dd>
      <dt>
      </dt>
      <dd>
        <p><%= @director.dob %></p>
      </dd>
      <dt>
      </dt>
      <dd>
        <p><%= @director.bio %></p>
      </dd>
    </dl>
  </div>
</div>

<div class="page-header">
  <h2>Filmography</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Movie 1</li>
      <li>Movie 2</li>
      <li>Movie 3</li>
    </ul>
  </div>
</div>

<hr>
